h1{
    text-align: center;
  }
  
  .login-form{
      display: flex;
      justify-content: center;
  }
  
  .login-btn{
      display: flex;
      justify-content: center;
  }
  
  .login-btn button{
      background-color: rgb(125, 167, 63);
      color: white;
      border-radius: 20px;
  }
  
  .login-form form{
  border: 1px solid black;
  padding: 5px 25px;
  }